body {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.top-section {
  background-image: url('../images/desktop/image-hero.jpg');
}

/* Navigation Bar */

.navbar {
}

.navbar-brand {

}

.nav-item {

}

.nav-link {
  position: relative;
  padding-right: 0.8rem !important;
  padding-left: 0.8rem !important;
  color: hsl(0, 0%, 100%) !important;
}

.nav-link:hover:after {
  position: absolute;
  bottom: 0;
  left: 33%;
  border-bottom: 2px solid;
  content: "";
  width: 33%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
