:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
  --gray-transparent: rgba(255, 255, 255, 0);
  --black-transparent: rgba(0, 0, 0, 0.85);
}

body {
  font-family: 'Alata', sans-serif;
  font-size: 0.938rem;
  line-height: 1.563rem;
}

/* Headings */

.big-heading {
  width: 40rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  margin-top: 5rem;
  padding: 2rem;
  border: 1px solid;
}

.section-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size:3rem;
  line-height: 3rem;
  text-transform: uppercase;
}

/* Navigation Bar */

.nav-link {
  position: relative;
  padding-right: 0.8rem !important;
  padding-left: 0.8rem !important;
  color: hsl(0, 0%, 100%) !important;
}

.nav-link:hover:after {
  position: absolute;
  bottom: 0;
  left: 33%;
  border-bottom: 2px solid;
  content: "";
  width: 33%;
}

/* Top Section */

.top-section {
  padding: 3% 10% 7%;
  text-align: left;
  background-image: url('../images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  color: var(--white);
}

/* Other Sections */
#about {
  position: relative;
}

.middle-section {
  margin: 10rem 10rem 0;
}

/* About Section */
.about-vr {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6rem 0 0 6rem;
  width: 33.813rem;
  background-color: var(--white);
}

/* Products Section */
.our-creations {
  margin-bottom: 4rem;
  position: relative;
}

.our-creations .section-heading {
  display: inline-block;
}

.see-all-btn {
  position: absolute;
  right: 0;
  text-transform: uppercase;
  vertical-align: right;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.313rem;
  background-color: var(--white);
  border: 1px solid var(--black);
  padding: 0.813rem 2.375rem;
}

.see-all-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.col-img {
  position: relative;
  width: 16rem;
  height: 28.1rem;
}

#col-img-earth {
  background-image: linear-gradient(to bottom, var(--gray-transparent), var(--black-transparent)), url('../images/desktop/image-deep-earth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0.4rem 0.4rem 0;
}

#col-img-night-arcade {
  background-image: linear-gradient(to bottom, var(--gray-transparent), var(--black-transparent)), url('../images/desktop/image-night-arcade.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0.4rem 0.4rem 0.4rem;
}

#col-img-soccer-team {
  background-image: linear-gradient(to bottom, var(--gray-transparent), var(--black-transparent)), url('../images/desktop/image-soccer-team.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0.4rem 0.4rem 0.4rem;
}

#col-img-grid {
  background-image: linear-gradient(to bottom, var(--gray-transparent), var(--black-transparent)), url('../images/desktop/image-grid.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 0.4rem 0.4rem;
}

#col-img-from-above {
  background-image: linear-gradient(to bottom, var(--gray-transparent), var(--black-transparent)), url('../images/desktop/image-from-above.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.4rem 0.4rem 0.4rem 0;
}

#col-img-pocket-borealis {
  background-image: linear-gradient(to bottom, var(--gray-transparent), var(--black-transparent)), url('../images/desktop/image-pocket-borealis.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.4rem 0.4rem 0 0.4rem;
}

#col-img-curiosity {
  background-image: linear-gradient(to bottom, var(--gray-transparent), var(--black-transparent)), url('../images/desktop/image-curiosity.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.4rem 0.4rem 0 0.4rem;
}

#col-img-fisheye {
  background-image: linear-gradient(to bottom, var(--gray-transparent), var(--black-transparent)), url('../images/desktop/image-fisheye.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.4rem 0 0 0.4rem;
}

.product-title {
  position: absolute;
  bottom: 2rem;
  left: 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2rem;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
